*{
  background: #332A57;
  align-items:center;
  text-align: center;
}
.container h1 {
    height: 80px;
    font-size: 100px;
    color:white;
  }
  .container .row  {
    display: flex;
  }
  .container .row  .card{
    border-radius:5px;
    box-shadow: 7px 7px 13px 0 rgb(74, 5, 163);
    padding: 20px;
    margin: 20px;
    width: 200px;
    background: rgb(130, 91, 148);
    color: white;
  }