*{
  background: #332A57;
  align-items:center;
  text-align: center;
}
.container h1 {
    height: 80px;
    font-size: 100px;
    color:white;
  }
  .container .row  {
    display: flex;
  }
  .container .row  .card{
    border-color: black;
    border-radius:5px;
    box-shadow: 7px 7px 13px 0 rgba(50, 50, 50, 0.22);
    padding: 20px;
    margin: 20px;
    width: 200px;
  }